<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aptatek.pkulab">

    <!-- App should not be used without BT -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".AptatekApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application.name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">

        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="76a95bdc32d1d4a9c4b6ea932959893135837287" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".view.pin.auth.AuthPinHostActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.settings.basic.SettingsActivity"
            android:parentActivityName=".view.main.MainHostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.main.MainHostActivity" />

        </activity>

        <activity
            android:name=".view.fingerprint.FingerprintActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.main.MainHostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.pin.set.SetPinHostActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.toggle.ToggleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.settings.reminder.ReminderSettingsActivity"
            android:parentActivityName=".view.settings.basic.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.settings.basic.SettingsActivity" />
        </activity>

        <activity
            android:name=".view.test.TestActivity"
            android:parentActivityName=".view.main.MainHostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.main.MainHostActivity" />

        </activity>

        <activity
            android:name=".view.parentalgate.ParentalGateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.rangeinfo.RangeInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.settings.pkulevel.RangeSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.test.result.TestResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.connect.onboarding.ConnectOnboardingReaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".view.settings.web.WebPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.test.dispose.DisposeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity android:name=".view.test.turnreaderon.permission.PermissionRequiredOnTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <receiver android:name=".device.AlarmReceiver" />
        <receiver android:name=".device.ReminderActionReceiver" />

        <service android:name=".view.service.BluetoothService" />
        <service android:name=".view.service.WettingForegroundService" />

        <receiver android:name=".device.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
