<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aptatek.aptatek">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".AptatekApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app.name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />

        <activity
            android:name=".view.pin.auth.AuthPinHostActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.settings.basic.SettingsActivity"
            android:parentActivityName=".view.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.main.MainActivity" />

        </activity>

        <activity
            android:name=".view.fingerprint.FingerprintActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.pin.set.SetPinHostActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.toggle.ToggleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".view.settings.reminder.ReminderSettingsActivity"
            android:parentActivityName=".view.settings.basic.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.settings.basic.SettingsActivity" />
        </activity>

        <activity
            android:name=".view.test.TestActivity"
            android:parentActivityName=".view.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.main.MainActivity" />

        </activity>

        <activity
            android:name=".view.parentalgate.ParentalGateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity android:name=".view.rangeinfo.RangeInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>

        <receiver android:name=".AlarmReceiver" />
        <service android:name=".view.test.incubation.IncubationReminderService" />
        <service android:name=".view.test.samplewetting.SampleWettingReminderService" />
    </application>

</manifest>
